@import '../../styles/settings';

.c-button {
	padding: 0.5rem 1rem;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	background: $blue;
	color: $white;
	cursor: pointer;

	&:hover {
		background: $blue-dark;
	}
}

.c-button--dark {
	background: darken($blue, 50%);
	color: $white;

	&:hover {
		background: darken($blue-dark, 50%);
	}
}

.c-button--light {
	background: $white;
	color: $blue;

	&:hover {
		background: darken($white, 30%);
	}
}
