@import '../../styles/settings';

.c-button {
	padding: 1.5rem 2rem;
	border: none;
	margin-top: 50px;
	font-size: 1.25rem;
	text-transform: uppercase;
	background: $blue;
	color: $white;
	cursor: pointer;

	&:hover {
		background: $blue-dark;
	}
}
