@import '../../styles/settings';

.c-button {
	padding: 0.5rem 1rem;
	border: none;
	margin-top: 50px;
	font-weight: bold;
	text-transform: uppercase;
	background: $blue;
	color: $white;
	cursor: pointer;

	&:hover {
		background: $blue-dark;
	}
}
