/**
 * Font
 */

$font-family: -apple-system, 'BlinkMacSystemFont', 'Fira Sans', sans-serif;
$font-family-mono: source-code-pro, menlo, monaco, monospace;

/**
 * Color
 */

$white: #fff;

$blue: #61dafb;
$blue-dark: #25829c;
$grey-dark: #282c34;
