@import '../../../styles/settings';

.c-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: $blue;
	height: 200px;
}

.c-header__title {
	font-size: 2rem;
	margin: 0;
}
